<html>
  <head>
  <script type="text/javascript" src="/js/scripts.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body onload="pageInit()">
    <center><div id="title"><img src="/images/logo.png" style="height: 10rem;"></div>
      <%= yield %>
    </center>
  </body>
</html>